body{
    margin: 0;
   
}
#nav{
    display:flex;
   justify-content: flex-end;
   margin-top: 15px;
}

#nav a{
    margin-right: 20px;
   /* margin-left: 20px; */
}

#nav a.topimage{
   width: 25px;
   height: 25px;
   background-color: red;
   border-radius: 50%;
}
#middle{
    margin-top: 200px;
}
#logo{
    text-align: center;
}
#searchbarcontainer{
    text-align: center;
    margin-top: 20px;
}
#searchbar
{
    padding-top: 10px;
    padding-bottom: 10px;
    outline:0;
    width: 500px;
    border-radius: 15px;
    border:2px solid #eeeeee;
}
#buttons{
    display: flex;
   justify-content: center ;
   margin-top: 20px;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 5px;
    background-color: antiquewhite;
}




